---

- name: include variables
  include_vars: "{{lookup('first_found', params)}}"
  vars:
    params:
      files:
        - "vars/{{ansible_distribution_major_version}}.yml"
        - 'vars/main.yml'
  tags:
    - nginx

- name: install package openssl
  package:
    state: present
    name: "{{package_name_openssl}}"
    install_recommends: False
  tags:
    - nginx

- name: install package nginx
  package:
    state: present
    name: "{{package_name_nginx}}"
    install_recommends: False
  tags:
    - nginx

- name: create file challenges.dir
  file:
    state: directory
    path: "{{file_dst_challenges_dir}}"
    mode: "{{file_mode_challenges_dir}}"
    owner: "{{file_owner_challenges_dir}}"
    group: "{{file_group_challenges_dir}}"
  tags:
    - nginx

- name: create file vhosts.d
  file:
    state: directory
    path: "{{file_dst_vhosts_d}}"
    mode: "{{file_mode_vhosts_d}}"
    owner: "{{file_owner_vhosts_d}}"
    group: "{{file_group_vhosts_d}}"
  tags:
    - nginx

- name: stat file dhparam.pem
  stat:
    path: "{{file_dst_dhparam_pem}}"
  register: register_dhparam_pem
  tags:
    - nginx

- name: generate dhparam.pem
  shell: "{{command_cmd_generate_dhparam_pem}}"
  check_mode: False
  when: (register_dhparam_pem.stat.exists == False)
  tags:
    - nginx

- name: stat file monit.d
  stat:
    path: "{{file_dst_monit_d}}"
  register: register_monit_d
  when: (nginx_monit_state == True)
  tags:
    - nginx

- name: create file monit.d
  file:
    state: directory
    path: "{{file_dst_monit_d}}"
    mode: "{{file_mode_monit_d}}"
    owner: "{{file_owner_monit_d}}"
    group: "{{file_group_monit_d}}"
  when: (nginx_monit_state == True) and (register_monit_d.stat.exists == False)
  tags:
    - nginx

- name: stat file nftables.d
  stat:
    path: "{{file_dst_nftables_d}}"
  register: register_nftables_d
  when: (nginx_nftables_state == True)
  tags:
    - nginx

- name: create file nftables.d
  file:
    state: directory
    path: "{{file_dst_nftables_d}}"
    mode: "{{file_mode_nftables_d}}"
    owner: "{{file_owner_nftables_d}}"
    group: "{{file_group_nftables_d}}"
  when: (nginx_nftables_state == True) and (register_nftables_d.stat.exists == False)
  tags:
    - nginx

- name: stat file rsyslog.d
  stat:
    path: "{{file_dst_rsyslog_d}}"
  register: register_rsyslog_d
  when: (nginx_rsyslog_state == True)
  tags:
    - nginx

- name: create file rsyslog.d
  file:
    state: directory
    path: "{{file_dst_rsyslog_d}}"
    mode: "{{file_mode_rsyslog_d}}"
    owner: "{{file_owner_rsyslog_d}}"
    group: "{{file_group_rsyslog_d}}"
  when: (nginx_rsyslog_state == True) and (register_rsyslog_d.stat.exists == False)
  tags:
    - nginx
