---

- name: include variables
  include_vars: "{{lookup('first_found', params)}}"
  vars:
    params:
      files:
        - "vars/{{ansible_distribution_major_version}}.yml"
        - 'vars/main.yml'
  tags:
    - nginx

- name: remove package nginx
  package:
    state: absent
    name: "{{package_name_nginx}}"
    install_recommends: False
  tags:
    - nginx

- name: remove file nginx.rsyslog
  file:
    state: absent
    path: "{{file_dst_nginx_rsyslog}}"
  notify: reload rsyslog
  tags:
    - nginx

- name: remove file nginx.nft
  file:
    state: absent
    path: "{{file_dst_nginx_nft}}"
  notify: reload nftables
  tags:
    - nginx

- name: remove file nginx.cfg
  file:
    state: absent
    path: "{{file_dst_nginx_cfg}}"
  notify: reload monit
  tags:
    - nginx

- name: remove file default.conf
  file:
    state: absent
    path: "{{file_dst_default_conf}}"
  tags:
    - nginx

- name: remove file nginx.conf
  file:
    state: absent
    path: "{{file_dst_nginx_conf}}"
  tags:
    - nginx

- name: remove file dhparam.pem
  file:
    state: absent
    path: "{{file_dst_dhparam_pem}}"
  tags:
    - nginx

- name: remove file vhosts.d
  file:
    state: absent
    path: "{{file_dst_vhosts_d}}"
  tags:
    - nginx

- name: remove file challenges.dir
  file:
    state: absent
    path: "{{file_dst_challenges_dir}}"
  tags:
    - nginx
