{{ansible_managed|comment(decoration='#')}}

[Unit]
Description=HAProxy Exporter
After=syslog.target network.target

[Service]
User=haproxy_exporter
Group=haproxy_exporter
EnvironmentFile={{file_dst_haproxy_exporter_default}}
ExecStart={{file_creates_haproxy_exporter}} $OPTIONS
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
