---

- name: include variables
  include_vars: "{{lookup('first_found', params)}}"
  vars:
    params:
      files:
        - "vars/{{ansible_distribution_major_version}}.yml"
        - 'vars/main.yml'
  tags:
    - suricata

- name: install package suricata
  package:
    state: present
    name: "{{package_name_suricata}}"
    install_recommends: False
  register: register_package_install_suricata
  tags:
    - suricata

- name: install package suricata-update
  package:
    state: present
    name: "{{package_name_suricata_update}}"
    install_recommends: False
  tags:
    - suricata

- name: stop service suricata
  service:
    state: stopped
    enabled: True
    name: "{{service_name_suricata}}"
    daemon_reload: True
  when: (register_package_install_suricata is changed)
  tags:
    - suricata

- name: create group suricata
  group:
    state: present
    name: "{{group_name_suricata}}"
    system: "{{group_system_suricata}}"
  tags:
    - suricata

- name: create user suricata
  user:
    state: present
    name: "{{user_name_suricata}}"
    comment: "{{user_comment_suricata}}"
    group: "{{user_group_suricata}}"
    append: "{{user_append_suricata}}"
    createhome: "{{user_home_create_suricata}}"
    move_home: "{{user_home_move_suricata}}"
    remove: "{{user_home_remove_suricata}}"
    force: "{{user_home_force_suricata}}"
    password: "{{user_password_suricata}}"
    update_password: "{{user_password_update_suricata}}"
    shell: "{{user_shell_suricata}}"
    system: "{{user_system_suricata}}"
  tags:
    - suricata

- name: create file log.dir
  file:
    state: directory
    path: "{{file_dst_log_dir}}"
    mode: "{{file_mode_log_dir}}"
    owner: "{{file_owner_log_dir}}"
    group: "{{file_group_log_dir}}"
  tags:
    - suricata

- name: create file eve.json
  copy:
    content: ''
    force: False
    dest: "{{file_dst_eve_json}}"
    mode: "{{file_mode_eve_json}}"
    owner: "{{file_owner_eve_json}}"
    group: "{{file_group_eve_json}}"
  tags:
    - suricata

- name: create file fast.log
  copy:
    content: ''
    force: False
    dest: "{{file_dst_fast_log}}"
    mode: "{{file_mode_fast_log}}"
    owner: "{{file_owner_fast_log}}"
    group: "{{file_group_fast_log}}"
  tags:
    - suricata

- name: create file stats.log
  copy:
    content: ''
    force: False
    dest: "{{file_dst_stats_log}}"
    mode: "{{file_mode_stats_log}}"
    owner: "{{file_owner_stats_log}}"
    group: "{{file_group_stats_log}}"
  tags:
    - suricata

- name: create file suricata.log
  copy:
    content: ''
    force: False
    dest: "{{file_dst_suricata_log}}"
    mode: "{{file_mode_suricata_log}}"
    owner: "{{file_owner_suricata_log}}"
    group: "{{file_group_suricata_log}}"
  tags:
    - suricata

- name: create file suricata.logrotate
  template:
    src: "{{file_src_suricata_logrotate}}"
    dest: "{{file_dst_suricata_logrotate}}"
    mode: "{{file_mode_suricata_logrotate}}"
    owner: "{{file_owner_suricata_logrotate}}"
    group: "{{file_group_suricata_logrotate}}"
  tags:
    - suricata

- name: create file suricata.service
  template:
    src: "{{file_src_suricata_service}}"
    dest: "{{file_dst_suricata_service}}"
    mode: "{{file_mode_suricata_service}}"
    owner: "{{file_owner_suricata_service}}"
    group: "{{file_group_suricata_service}}"
  tags:
    - suricata

- name: stat file suricata.rules
  stat:
    path: "{{file_dst_suricata_rules}}"
  register: register_suricata_rules
  tags:
    - suricata

- name: create file promiscuous_mode@.service
  template:
    src: "{{file_src_promiscuous_mode_service}}"
    dest: "{{file_dst_promiscuous_mode_service}}"
    mode: "{{file_mode_promiscuous_mode_service}}"
    owner: "{{file_owner_promiscuous_mode_service}}"
    group: "{{file_group_promiscuous_mode_service}}"
  tags:
    - suricata

- name: stat file monit.d
  stat:
    path: "{{file_dst_monit_d}}"
  register: register_monit_d
  when: (suricata_monit_state == True)
  tags:
    - suricata

- name: create file monit.d
  file:
    state: directory
    path: "{{file_dst_monit_d}}"
    mode: "{{file_mode_monit_d}}"
    owner: "{{file_owner_monit_d}}"
    group: "{{file_group_monit_d}}"
  when: (suricata_monit_state == True) and (register_monit_d.stat.exists == False)
  tags:
    - suricata

- name: update permissions
  shell: "{{command_cmd_update_permissions}}"
  check_mode: False
  when: (register_package_install_suricata is changed)
  tags:
    - suricata

- name: update suricata
  shell: "{{command_cmd_update_suricata}}"
  check_mode: False
  when: (register_suricata_rules.stat.exists == False)
  tags:
    - suricata
