---

- name: include variables
  include_vars: "{{lookup('first_found', params)}}"
  vars:
    params:
      files:
        - "vars/{{ansible_distribution_major_version}}.yml"
        - 'vars/main.yml'
  tags:
    - alertmanager

- name: create file alertmanager.yml
  template:
    src: "{{file_src_alertmanager_yml}}"
    dest: "{{file_dst_alertmanager_yml}}"
    mode: "{{file_mode_alertmanager_yml}}"
    owner: "{{file_owner_alertmanager_yml}}"
    group: "{{file_group_alertmanager_yml}}"
  notify: reload service alertmanager
  tags:
    - alertmanager

- name: create file alertmanager.default
  template:
    src: "{{file_src_alertmanager_default}}"
    dest: "{{file_dst_alertmanager_default}}"
    mode: "{{file_mode_alertmanager_default}}"
    owner: "{{file_owner_alertmanager_default}}"
    group: "{{file_group_alertmanager_default}}"
  notify: reload service alertmanager
  tags:
    - alertmanager

- name: create file alertmanager.cfg
  template:
    src: "{{file_src_alertmanager_cfg}}"
    dest: "{{file_dst_alertmanager_cfg}}"
    mode: "{{file_mode_alertmanager_cfg}}"
    owner: "{{file_owner_alertmanager_cfg}}"
    group: "{{file_group_alertmanager_cfg}}"
  notify:
    - validate monit
    - reload monit
  when: (alertmanager_monit_state == True)
  tags:
    - alertmanager

- name: remove file alertmanager.cfg
  file:
    state: absent
    path: "{{file_dst_alertmanager_cfg}}"
  notify: reload monit
  when: (alertmanager_monit_state == False)
  tags:
    - alertmanager

- name: create file alertmanager.nft
  template:
    src: "{{file_src_alertmanager_nft}}"
    dest: "{{file_dst_alertmanager_nft}}"
    mode: "{{file_mode_alertmanager_nft}}"
    owner: "{{file_owner_alertmanager_nft}}"
    group: "{{file_group_alertmanager_nft}}"
  notify:
    - validate nftables
    - reload nftables
  when: (alertmanager_nftables_state == True)
  tags:
    - alertmanager

- name: remove file alertmanager.nft
  file:
    state: absent
    path: "{{file_dst_alertmanager_nft}}"
  notify: reload nftables
  when: (alertmanager_nftables_state == False)
  tags:
    - alertmanager

- name: start service alertmanager
  service:
    state: started
    enabled: True
    name: "{{service_name_alertmanager}}"
    daemon_reload: True
  tags:
    - alertmanager
