---

- name: include variables
  include_vars: "{{lookup('first_found', params)}}"
  vars:
    params:
      files:
        - "vars/{{ansible_distribution_major_version}}.yml"
        - 'vars/main.yml'
  tags:
    - promtail

- name: create file promtail.default
  template:
    src: "{{file_src_promtail_default}}"
    dest: "{{file_dst_promtail_default}}"
    mode: "{{file_mode_promtail_default}}"
    owner: "{{file_owner_promtail_default}}"
    group: "{{file_group_promtail_default}}"
  notify: restart service promtail
  tags:
    - promtail

- name: create file promtail.yaml
  template:
    src: "{{file_src_promtail_yaml}}"
    dest: "{{file_dst_promtail_yaml}}"
    mode: "{{file_mode_promtail_yaml}}"
    owner: "{{file_owner_promtail_yaml}}"
    group: "{{file_group_promtail_yaml}}"
  notify: restart service promtail
  tags:
    - promtail

- name: create file promtail.cfg
  template:
    src: "{{file_src_promtail_cfg}}"
    dest: "{{file_dst_promtail_cfg}}"
    mode: "{{file_mode_promtail_cfg}}"
    owner: "{{file_owner_promtail_cfg}}"
    group: "{{file_group_promtail_cfg}}"
  notify:
    - validate monit
    - reload monit
  when: (promtail_monit_state == True)
  tags:
    - promtail

- name: remove file promtail.cfg
  file:
    state: absent
    path: "{{file_dst_promtail_cfg}}"
  notify: reload monit
  when: (promtail_monit_state == False)
  tags:
    - promtail

- name: create file promtail.nft
  template:
    src: "{{file_src_promtail_nft}}"
    dest: "{{file_dst_promtail_nft}}"
    mode: "{{file_mode_promtail_nft}}"
    owner: "{{file_owner_promtail_nft}}"
    group: "{{file_group_promtail_nft}}"
  notify:
    - validate nftables
    - reload nftables
  when: (promtail_nftables_state == True)
  tags:
    - promtail

- name: remove file promtail.nft
  file:
    state: absent
    path: "{{file_dst_promtail_nft}}"
  notify: reload nftables
  when: (promtail_nftables_state == False)
  tags:
    - promtail

- name: start service promtail
  service:
    state: started
    enabled: True
    name: "{{service_name_promtail}}"
    daemon_reload: True
  tags:
    - promtail
