---

- name: include variables
  include_vars: "{{lookup('first_found', params)}}"
  vars:
    params:
      files:
        - "vars/{{ansible_distribution_major_version}}.yml"
        - 'vars/main.yml'
  tags:
    - auditd

- name: create file auditd.conf
  template:
    src: "{{file_src_auditd_conf}}"
    dest: "{{file_dst_auditd_conf}}"
    mode: "{{file_mode_auditd_conf}}"
    owner: "{{file_owner_auditd_conf}}"
    group: "{{file_group_auditd_conf}}"
  notify: restart auditd
  tags:
    - auditd

- name: create file syslog.conf
  template:
    src: "{{file_src_syslog_conf}}"
    dest: "{{file_dst_syslog_conf}}"
    mode: "{{file_mode_syslog_conf}}"
    owner: "{{file_owner_syslog_conf}}"
    group: "{{file_group_syslog_conf}}"
  notify: restart auditd
  tags:
    - auditd

- name: create file auditd.cfg
  template:
    src: "{{file_src_auditd_cfg}}"
    dest: "{{file_dst_auditd_cfg}}"
    mode: "{{file_mode_auditd_cfg}}"
    owner: "{{file_owner_auditd_cfg}}"
    group: "{{file_group_auditd_cfg}}"
  notify:
    - validate monit
    - reload monit
  when: (auditd_monit_state == True)
  tags:
    - auditd

- name: remove file auditd.cfg
  file:
    state: absent
    path: "{{file_dst_auditd_cfg}}"
  notify: reload monit
  when: (auditd_monit_state == False)
  tags:
    - auditd

- name: start service auditd
  service:
    state: started
    enabled: True
    name: "{{service_name_auditd}}"
  tags:
    - auditd
