---

- name: include variables
  include_vars: "{{lookup('first_found', params)}}"
  vars:
    params:
      files:
        - "vars/{{ansible_distribution_major_version}}.yml"
        - 'vars/main.yml'
  tags:
    - auditd

- name: install package audispd-plugins
  package:
    state: present
    name: "{{package_name_audispd_plugins}}"
    install_recommends: False
  tags:
    - auditd

- name: install package audit
  package:
    state: present
    name: "{{package_name_audit}}"
    install_recommends: False
  tags:
    - auditd

- name: stat file monit.d
  stat:
    path: "{{file_dst_monit_d}}"
  register: register_monit_d
  when: (auditd_monit_state == True)
  tags:
    - auditd

- name: create file monit.d
  file:
    state: directory
    path: "{{file_dst_monit_d}}"
    mode: "{{file_mode_monit_d}}"
    owner: "{{file_owner_monit_d}}"
    group: "{{file_group_monit_d}}"
  when: (auditd_monit_state == True) and (register_monit_d.stat.exists == False)
  tags:
    - auditd
