---

- name: include variables
  include_vars: "{{lookup('first_found', params)}}"
  vars:
    params:
      files:
        - "vars/{{ansible_distribution_major_version}}.yml"
        - 'vars/main.yml'
  tags:
    - monit_exporter

- name: create file config.toml
  template:
    src: "{{file_src_config_toml}}"
    dest: "{{file_dst_config_toml}}"
    mode: "{{file_mode_config_toml}}"
    owner: "{{file_owner_config_toml}}"
    group: "{{file_group_config_toml}}"
  notify: restart service monit_exporter
  tags:
    - monit_exporter

- name: create file monit_exporter.default
  template:
    src: "{{file_src_monit_exporter_default}}"
    dest: "{{file_dst_monit_exporter_default}}"
    mode: "{{file_mode_monit_exporter_default}}"
    owner: "{{file_owner_monit_exporter_default}}"
    group: "{{file_group_monit_exporter_default}}"
  notify: restart service monit_exporter
  tags:
    - monit_exporter

- name: create file monit_exporter.cfg
  template:
    src: "{{file_src_monit_exporter_cfg}}"
    dest: "{{file_dst_monit_exporter_cfg}}"
    mode: "{{file_mode_monit_exporter_cfg}}"
    owner: "{{file_owner_monit_exporter_cfg}}"
    group: "{{file_group_monit_exporter_cfg}}"
  notify:
    - validate monit
    - reload monit
  when: (monit_exporter_monit_state == True)
  tags:
    - monit_exporter

- name: remove file monit_exporter.cfg
  file:
    state: absent
    path: "{{file_dst_monit_exporter_cfg}}"
  notify: reload monit
  when: (monit_exporter_monit_state == False)
  tags:
    - monit_exporter

- name: create file monit_exporter.nft
  template:
    src: "{{file_src_monit_exporter_nft}}"
    dest: "{{file_dst_monit_exporter_nft}}"
    mode: "{{file_mode_monit_exporter_nft}}"
    owner: "{{file_owner_monit_exporter_nft}}"
    group: "{{file_group_monit_exporter_nft}}"
  notify:
    - validate nftables
    - reload nftables
  when: (monit_exporter_nftables_state == True)
  tags:
    - monit_exporter

- name: remove file monit_exporter.nft
  file:
    state: absent
    path: "{{file_dst_monit_exporter_nft}}"
  notify: reload nftables
  when: (monit_exporter_nftables_state == False)
  tags:
    - monit_exporter

- name: start service monit_exporter
  service:
    state: started
    enabled: True
    name: "{{service_name_monit_exporter}}"
    daemon_reload: True
  tags:
    - monit_exporter
