{{ansible_managed|comment(decoration='#')}}

[Unit]
Description=Pod Woodpecker
Documentation=man:podman-generate-systemd(1)
Wants=network.target
After=network-online.target

[Service]
Type=forking
RemainAfterExit=yes
User=pod_woodpecker
Group=pod_woodpecker
EnvironmentFile={{file_dst_pod_woodpecker_default}}
Restart=always
TimeoutStartSec=60
TimeoutStopSec=60
ExecStartPre=+/usr/bin/chmod o+rw /run/podman
ExecStartPre=+/usr/bin/chmod o+rw /run/podman/podman.sock
ExecStart=/usr/bin/podman play kube \
{% if not (pod_woodpecker_registry_username == "") %}
    --creds {{ pod_woodpecker_registry_username }}:'{{ pod_woodpecker_registry_password }}' \
{% endif %}
{% if (pod_woodpecker_log_driver == "journald") %}
    --log-driver journald \
{% endif %}
    {{file_dst_pod_woodpecker_yaml}}
ExecStop=/usr/bin/podman stop --time 15 pod_woodpecker
ExecStopPost=/usr/bin/podman pod rm --force pod_woodpecker

[Install]
WantedBy=multi-user.target
