---

- name: include variables
  include_vars: "{{lookup('first_found', params)}}"
  vars:
    params:
      files:
        - "vars/{{ansible_distribution_major_version}}.yml"
        - 'vars/main.yml'
  tags:
    - rest_server

- name: create file rest-server.default
  template:
    src: "{{file_src_rest_server_default}}"
    dest: "{{file_dst_rest_server_default}}"
    mode: "{{file_mode_rest_server_default}}"
    owner: "{{file_owner_rest_server_default}}"
    group: "{{file_group_rest_server_default}}"
  notify: restart service rest-server
  tags:
    - rest_server

- name: create file rest-server.cfg
  template:
    src: "{{file_src_rest_server_cfg}}"
    dest: "{{file_dst_rest_server_cfg}}"
    mode: "{{file_mode_rest_server_cfg}}"
    owner: "{{file_owner_rest_server_cfg}}"
    group: "{{file_group_rest_server_cfg}}"
  notify:
    - validate monit
    - reload monit
  when: (rest_server_monit_state == True)
  tags:
    - rest_server

- name: remove file rest-server.cfg
  file:
    state: absent
    path: "{{file_dst_rest_server_cfg}}"
  notify: reload monit
  when: (rest_server_monit_state == False)
  tags:
    - rest_server

- name: create file rest-server.nft
  template:
    src: "{{file_src_rest_server_nft}}"
    dest: "{{file_dst_rest_server_nft}}"
    mode: "{{file_mode_rest_server_nft}}"
    owner: "{{file_owner_rest_server_nft}}"
    group: "{{file_group_rest_server_nft}}"
  notify:
    - validate nftables
    - reload nftables
  when: (rest_server_nftables_state == True)
  tags:
    - rest_server

- name: remove file rest-server.nft
  file:
    state: absent
    path: "{{file_dst_rest_server_nft}}"
  notify: reload nftables
  when: (rest_server_nftables_state == False)
  tags:
    - rest_server

- name: start service rest-server
  service:
    state: started
    enabled: True
    name: "{{service_name_rest_server}}"
    daemon_reload: True
  tags:
    - rest_server
