---

- name: include variables
  include_vars: "{{lookup('first_found', params)}}"
  vars:
    params:
      files:
        - "vars/{{ansible_distribution_major_version}}.yml"
        - 'vars/main.yml'
  tags:
    - bash

- name: remove file bash.bash
  file:
    state: absent
    path: "{{file_dst_bash_bash}}"
  tags:
    - bash

- name: remove file zz_bash.bash
  file:
    state: absent
    path: "{{file_dst_zz_bash_bash}}"
  tags:
    - bash
