---

- name: import tasks install
  import_tasks: install.yml
  when: not (bzip2_state is match('false|no|remove|quiesce|inactive'))
  tags:
    - bzip2

- name: import tasks remove
  import_tasks: remove.yml
  when: (bzip2_state is match('false|no|remove'))
  tags:
    - bzip2
