---

- name: 'include variables'
  include_vars: "{{lookup('first_found', params)}}"
  vars:
    params:
      files:
        - "vars/{{ansible_distribution_major_version}}.yml"
        - 'vars/main.yml'

- name: 'command unbound-checkconf'
  command: "{{command_cmd_unbound_checkconf}}"

- name: 'service reload monit'
  service:
    state: 'reloaded'
    name: "{{service_name_monit}}"
  when: (register_check_service_monit.rc == 0)

- name: 'service restart unbound'
  service:
    state: 'restarted'
    name: "{{service_name_unbound}}"
