---

- name: 'include variables'
  include_vars: "{{lookup('first_found', params)}}"
  vars:
    params:
      files:
        - "vars/{{ansible_distribution_major_version}}.yml"
        - 'vars/main.yml'
  tags:
    - mailx

- name: 'package install mailx'
  package:
    state: 'present'
    name: "{{package_name_mailx}}"
    install_recommends: 'no'
  tags:
    - mailx
