---

- name: include variables
  include_vars: "{{lookup('first_found', params)}}"
  vars:
    params:
      files:
        - "vars/{{ansible_distribution_major_version}}.yml"
        - 'vars/main.yml'

- name: check nginx
  command: "{{command_cmd_check_nginx}}"

- name: reload service nginx
  service:
    state: reloaded
    name: "{{service_name_nginx}}"

- name: validate monit
  shell: "{{command_cmd_validate_monit}}"

- name: reload monit
  shell: "{{command_cmd_reload_monit}}"

- name: validate nftables
  shell: "{{command_cmd_validate_nftables}}"

- name: reload nftables
  shell: "{{command_cmd_reload_nftables}}"

- name: validate rsyslog
  shell: "{{command_cmd_validate_rsyslog}}"

- name: reload rsyslog
  shell: "{{command_cmd_reload_rsyslog}}"
