{{ansible_managed|comment(decoration='#')}}

[Unit]
Description=Pod Forgejo
Documentation=man:podman-generate-systemd(1)
Wants=network.target
After=network-online.target

[Service]
Type=forking
RemainAfterExit=yes
User=root
Group=root
EnvironmentFile={{file_dst_pod_forgejo_default}}
Restart=always
TimeoutStartSec=60
TimeoutStopSec=60
ExecStart=/usr/bin/podman play kube \
    --network slirp4netns:port_handler=slirp4netns \
{% if not (pod_forgejo_registry_username == "") %}
    --creds {{pod_forgejo_registry_username}}:'{{pod_forgejo_registry_password}}' \
{% endif %}
{% if (pod_forgejo_log_driver == "journald") %}
    --log-driver journald \
{% endif %}
    {{file_dst_pod_forgejo_yaml}}
# NOTE: Pull latest image before stopping service to allow for container registry update (Forgejo itself)
ExecStop=/usr/bin/podman image pull \
{% if not (pod_forgejo_registry_username == "") %}
    --creds {{pod_forgejo_registry_username}}:'{{pod_forgejo_registry_password}}' \
{% endif %}
    {{pod_forgejo_registry_address}}/forgejo:{{pod_forgejo_forgejo_version}}
ExecStopPost=/usr/bin/podman pod stop --time 15 pod_forgejo
ExecStopPost=/usr/bin/podman pod rm --force pod_forgejo

[Install]
WantedBy=multi-user.target
