{{ansible_managed|comment(decoration='#')}}

[Unit]
Description=Control promiscuous mode for interface %i
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/ip link set promisc on dev %i
ExecStop=/usr/sbin/ip link set promisc off dev %i
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
