{{ansible_managed|comment(decoration='#')}}

[Unit]
Description=Suricata IDS/IDP daemon
After=network.target network-online.target
Requires=network-online.target
Documentation=man:suricata(8) man:suricatasc(8)
Documentation=https://suricata-ids.org/docs/

[Service]
EnvironmentFile=/etc/default/suricata
PIDFile=/run/suricata.pid
ExecStartPre=/bin/rm -f /run/suricata.pid
ExecStart=/usr/bin/suricata -c /etc/suricata/suricata.yaml --pidfile /run/suricata.pid $OPTIONS
ExecReload=/bin/kill -USR2 $MAINPID

### Security Settings ###
MemoryDenyWriteExecute=true
LockPersonality=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectSystem=full
ProtectHome=true

[Install]
WantedBy=multi-user.target
