---

- name: include variables
  include_vars: "{{lookup('first_found', params)}}"
  vars:
    params:
      files:
        - "vars/{{ansible_distribution_major_version}}.yml"
        - 'vars/main.yml'
  tags:
    - prometheus

- name: create group prometheus
  group:
    state: present
    name: "{{group_name_prometheus}}"
    system: "{{group_system_prometheus}}"
  tags:
    - prometheus

- name: create user prometheus
  user:
    state: present
    name: "{{user_name_prometheus}}"
    comment: "{{user_comment_prometheus}}"
    group: "{{user_group_prometheus}}"
    append: "{{user_append_prometheus}}"
    createhome: "{{user_home_create_prometheus}}"
    move_home: "{{user_home_move_prometheus}}"
    remove: "{{user_home_remove_prometheus}}"
    force: "{{user_home_force_prometheus}}"
    password: "{{user_password_prometheus}}"
    update_password: "{{user_password_update_prometheus}}"
    shell: "{{user_shell_prometheus}}"
    system: "{{user_system_prometheus}}"
  tags:
    - prometheus

- name: create file app.dir
  file:
    state: directory
    path: "{{file_dst_app_dir}}"
    mode: "{{file_mode_app_dir}}"
    owner: "{{file_owner_app_dir}}"
    group: "{{file_group_app_dir}}"
  tags:
    - prometheus

- name: create file prometheus_app.dir
  file:
    state: directory
    path: "{{file_dst_prometheus_app_dir}}"
    mode: "{{file_mode_prometheus_app_dir}}"
    owner: "{{file_owner_prometheus_app_dir}}"
    group: "{{file_group_prometheus_app_dir}}"
  tags:
    - prometheus

- name: create file prometheus_etc.dir
  file:
    state: directory
    path: "{{file_dst_prometheus_etc_dir}}"
    mode: "{{file_mode_prometheus_etc_dir}}"
    owner: "{{file_owner_prometheus_etc_dir}}"
    group: "{{file_group_prometheus_etc_dir}}"
  tags:
    - prometheus

- name: create file data.dir
  file:
    state: directory
    path: "{{file_dst_data_dir}}"
    mode: "{{file_mode_data_dir}}"
    owner: "{{file_owner_data_dir}}"
    group: "{{file_group_data_dir}}"
  tags:
    - prometheus

- name: create file prometheus_data.dir
  file:
    state: directory
    path: "{{file_dst_prometheus_data_dir}}"
    mode: "{{file_mode_prometheus_data_dir}}"
    owner: "{{file_owner_prometheus_data_dir}}"
    group: "{{file_group_prometheus_data_dir}}"
  tags:
    - prometheus

- name: download file prometheus.tar.gz
  get_url:
    url: "{{file_src_prometheus_tar_gz}}"
    dest: "{{file_dst_prometheus_tar_gz}}"
    mode: "{{file_mode_prometheus_tar_gz}}"
    owner: "{{file_owner_prometheus_tar_gz}}"
    group: "{{file_group_prometheus_tar_gz}}"
    checksum: "{{file_checksum_prometheus_tar_gz}}"
  tags:
    - prometheus

- name: unarchive file prometheus
  unarchive:
    src: "{{file_src_prometheus}}"
    dest: "{{file_dst_prometheus}}"
    owner: "{{file_owner_prometheus}}"
    group: "{{file_group_prometheus}}"
    exclude: "{{file_exclude_prometheus}}"
    remote_src: True
  tags:
    - prometheus

- name: create file dashboards.dir
  file:
    state: directory
    path: "{{file_dst_dashboards_dir}}"
    mode: "{{file_mode_dashboards_dir}}"
    owner: "{{file_owner_dashboards_dir}}"
    group: "{{file_group_dashboards_dir}}"
  tags:
    - prometheus

- name: create file builtin_dashboards.dir
  file:
    state: directory
    path: "{{file_dst_builtin_dashboards_dir}}"
    mode: "{{file_mode_builtin_dashboards_dir}}"
    owner: "{{file_owner_builtin_dashboards_dir}}"
    group: "{{file_group_builtin_dashboards_dir}}"
  when: (prometheus_builtin_dashboards_state == True)
  tags:
    - prometheus

- name: create file prometheus.service
  template:
    src: "{{file_src_prometheus_service}}"
    dest: "{{file_dst_prometheus_service}}"
    mode: "{{file_mode_prometheus_service}}"
    owner: "{{file_owner_prometheus_service}}"
    group: "{{file_group_prometheus_service}}"
  tags:
    - prometheus

- name: stat file monit.d
  stat:
    path: "{{file_dst_monit_d}}"
  register: register_monit_d
  when: (prometheus_monit_state == True)
  tags:
    - prometheus

- name: create file monit.d
  file:
    state: directory
    path: "{{file_dst_monit_d}}"
    mode: "{{file_mode_monit_d}}"
    owner: "{{file_owner_monit_d}}"
    group: "{{file_group_monit_d}}"
  when: (prometheus_monit_state == True) and (register_monit_d.stat.exists == False)
  tags:
    - prometheus

- name: stat file nftables.d
  stat:
    path: "{{file_dst_nftables_d}}"
  register: register_nftables_d
  when: (prometheus_nftables_state == True)
  tags:
    - prometheus

- name: create file nftables.d
  file:
    state: directory
    path: "{{file_dst_nftables_d}}"
    mode: "{{file_mode_nftables_d}}"
    owner: "{{file_owner_nftables_d}}"
    group: "{{file_group_nftables_d}}"
  when: (prometheus_nftables_state == True) and (register_nftables_d.stat.exists == False)
  tags:
    - prometheus
