{{ansible_managed|comment(decoration='#')}}

[Unit]
Description=Blackbox Exporter
After=syslog.target network.target

[Service]
User=blackbox_exporter
Group=blackbox_exporter
AmbientCapabilities=CAP_NET_RAW
EnvironmentFile={{file_dst_blackbox_exporter_default}}
ExecStart={{file_creates_blackbox_exporter}} $OPTIONS
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
