---

- name: 'include variables'
  include_vars: "{{lookup('first_found', params)}}"
  vars:
    params:
      files:
        - "vars/{{ansible_distribution_major_version}}.yml"
        - 'vars/main.yml'
  tags:
    - monit

- name: 'package remove monit'
  package:
    state: 'absent'
    name: "{{package_name_monit}}"
    default_release: 'buster-backports'
    install_recommends: 'no'
  tags:
    - monit

- name: 'file remove monit.d'
  file:
    state: 'absent'
    path: "{{file_dst_monit_d}}"
  tags:
    - monit

- name: 'file remove monitrc'
  file:
    state: 'absent'
    path: "{{file_dst_monitrc}}"
  tags:
    - monit
