---

- name: import tasks install
  import_tasks: install.yml
  when: not (audispd_plugins_state is match('false|no|remove|quiesce|inactive'))
  tags:
    - audispd_plugins

- name: import tasks remove
  import_tasks: remove.yml
  when: (audispd_plugins_state is match('false|no|remove'))
  tags:
    - audispd_plugins
